*.iml
*.ipr
*.iws

.idea/
.gradle/
.kotlin/
build/
**/build/
!src/**/build/

local.properties

.DS_Store
Thumbs.db

captures/
.externalNativeBuild/
.cxx/

*.apk
*.aab
*.ap_
*.dex
*.class

iosApp/Pods/
iosApp/Podfile.lock
iosApp/build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
**/xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

node_modules/

supabase/.temp/
# Firebase secrets
composeApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist
